// PUT ALL COMPONENTE STYLING IN HERE, NOT PAGES, JUST COMPONENTS
// I AM SO SICK OF HAVING A MILLION FUCKING CSS FILES IN REACT PROJECTS :D

// $header-background: #fcfaf8;
// $header-text: rgb(36, 36, 36);
// $header-shover: ;
$nav-main: floralwhite;
$nav-hover: rgb(147, 249, 233);
$color-dark-gray: rgb(36, 36, 36);
$color-dark-gray-hover: rgb(36, 36, 36);
$skills-color: rgb(79, 79, 79);
$skills-color-pink: hotpink;
$skills-color-bluegreen: rgb(147, 249, 233);

// HEADER
// .headerBar {
//   background-color: $header-background;
// }

// .headerContent {
//   margin: 0 auto;
//   max-width: 960;
//   padding: 1.45rem 1.0875rem;
// }

// .headerTitle {
//   margin: 0;
// }

// .headerTitle > a {
//   color: $header-text;
//   text-decoration: none;
// }

// NAV

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  //   flex-direction: column; // i think i'd like to eventually do a SIDE NAV, so this needs to change...
  margin-left: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: $nav-main;
}

// .navbar:hover {
//   background-color: $nav-hover;
// }

.navItem {
  color: $color-dark-gray;
  text-decoration: none;
  // margin-right: 1.3rem;
  padding: 0.5rem;
}
.navItem:hover {
  color: $color-dark-gray-hover;
  //background-color: $nav-hover;
  border-bottom: 5px solid $nav-hover;
  text-decoration: none;
}

// SPECIALTY COMPONENTS

.skillSpan {
  color: $skills-color;
}
.skillSpan:hover {
  color: $skills-color-pink;
  cursor: crosshair;
}
.skill {
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid $skills-color-bluegreen;
  display: inline-block;
}
.skill:hover {
  border: 1px solid floralwhite;
}

.skillsBox {
  margin: 1.5rem;
  box-sizing: border-box;
}

.skillsBox > h4 {
  color: $color-dark-gray;
  margin: 0.75rem 0rem;
}
