// CONTENT/MAIN & LAYOUT
$color-main: floralwhite;
$color-text: rgb(36, 36, 36);
$color-bluegreen: rgb(147, 249, 233);

.inner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 1;
  background-color: $color-main;
  color: $color-text;
  cursor: default;
}

.pageHeader {
  // text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentTitle {
  // text-align: center;
}

.contentTitle:hover {
  color: $color-bluegreen;
  // border-bottom: 2px solid $color-text; // problematic because when this appears it pushes down the div beneath it
  text-decoration: underline;
  // text-decoration-style: dotted;
  text-decoration-color: $color-text;
  cursor: crosshair;
}
