.navbar {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding: 1rem;
  background-color: steelblue;
}

.navItem {
  color: rgb(244, 168, 4);
  text-decoration: none;
  margin-right: 1.3rem;
}
.navItem:hover {
  color: rebeccapurple;
  text-decoration: underline;
}
